<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="error-container">
        <div class="error-box">
            <h2>Acceso Denegado</h2>
            <p>Lo lamentamos, no tienes permisos para acceder a estos recursos.</p>
            <a href="/api/home" class="back-btn">Regresar a la página de inicio</a>
        </div>
    </div>
</body>
</html>
